{
  "json_patch":
    [
      {"op": "add", "path": "/internal_profile/usable_networks/0", "value": {"nw_ref": "https:/{{ avi_credentials.controller}}/api/network/avi-mon-{{ namespace_name }}-L7-VIP"}}
    ]
} 
