itsm_request: {{ itsm_request }}
namespace_environment: {{ namespace_environment }}
namespace_name: {{ namespace_name }}
tkg_cluster_name: {{ tkg_cluster_name }}
requester: {{ requester }}
requester_email: {{ requester_email }}
backup_policy: {{ backup_policy }}
namespace_permissions: {{ namespace_permissions }}
egress_network: {{ egress_network.network[0] }}
ingress_network: {{ ingress_network.network[0] }}
namespace_network: {{ namespace_network.network[0] }}
avi_network: {{ avi_network.network[0] }}
nsxt_policy_tier1: avi-mon-{{ namespace_name }}-T1
nsxt_policy_segment: avi-mon-{{ namespace_name }}-L7-VIP
nsxt_snat_resource: avi-mon-{{ tkg_cluster_name }}-SNAT
nsxt_source_policy_group: avi-mon-{{ tkg_cluster_name }}-SNAT
nsxt_dest_policy_group: tanzu-namespace-{{ tkg_cluster_name }}
nsxt_policy_security_policy: avi-mon-{{ tkg_cluster_name }}
